.font{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
    
}

body{
    padding: 10em;
    text-align: center;
}
#txt{
    width: 300px;
}
ul li {
    width: 350px;
    line-height: 40px;
    position: relative;
    display:block;
    margin-left:0px ;
    margin-top:2em;
    box-shadow: 10px 6px 4px rgb(75, 74, 74);
    
}

ul li span{
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;

}

button{
    background-color: blue;
    border-radius: 10px;
}

